#callToActionBtn:hover {
    opacity: .8;
    transform: scale(1.05);
}
.service_card:hover{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.00);
    transition: .3s ease-out;
    cursor: pointer;
    
}
#contact button:hover{
    opacity: .8;
    transition: .3s;
}
#login-section button:hover{
    opacity: .8;
    transition: .3s;
}
#backToTop:hover {
    opacity: 0.8;
    transform: scale(1.1); 
}

/* fade_down animation */
.fade-down {
    opacity: 0;
    transform: translateY(-30px); /* Изместване нагоре */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Състояние, когато JS добави класа */
.fade-down.visible {
    opacity: 1;
    transform: translateY(0); /* Връщане на място */
}