body{
display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% от височината на екрана */
    margin: 0;
}


/*Home Section*/
#hero{
    color: rgb(0, 0, 0);
    padding: 50px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#hero p{
    color: rgba(68, 68, 68, 0.623);
}
#services{
    background-color: #FCFAF9;
    padding: 50px;
    border-radius: 10px;
    min-height: 20vh;
}
#callToActionBtn {
    display: inline-block; /* Allows padding and width like a button */
    padding: 15px;
    margin-top: 20px;
    background: linear-gradient(180deg, #10b981 6%, #059669 100%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#callToActionBtn:hover {
    opacity: 0.8;
}
/*Services Section*/
#services h2{
    text-align: center;
}
.services_card_holder{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 40px;
    align-content: center;
    justify-content: center;
}
.service_card{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    text-wrap: wrap;
    transition: .3s ease-out;
}
/*about-us section*/
#aboutUs{
    padding: 20px;
    border-radius: 10px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutUs-text{
    max-width: 800px;
    font-size: larger;
   
}

/*team section*/
#team{
    background-color: #FCFAF9;
    padding: 50px;
    border-radius: 10px;
    min-height: 20vh;
    text-align: center;
}
.team_card_holder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3%;
}

/*contanct section*/
#contact{
    padding: 50px;
    border-radius: 10px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #ccb3a6;
    width: 60%;
    border-radius: 10px;
    padding: 100px;
}
#contact form input, #contact form textarea{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#contact button{
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #5a5a5a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;

}

/*login section*/
#login-section{
    padding: 50px;
    border-radius: 10px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#login-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #ccb3a6;
    width: 60%;
    border-radius: 10px;
    padding: 100px;
}
#login-section form input, #login-section form textarea{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#login-section button{
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #5a5a5a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;

}


#backToTop {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    background-color: #2ecc71; 
    color: white;
    cursor: pointer;
    padding: 35px;
    border-radius: 50%; 
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


